<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zephrys.auter" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RideOnActivity"
            android:label="@string/title_activity_ride_on" >
        </activity>
        <activity
            android:name=".Panic_Activity"
            android:label="@string/title_activity_panic_" >
        </activity>
        <activity
            android:name=".Request_otp_activity"
            android:label="@string/title_activity_request_otp_activity" >
        </activity>
    </application>

</manifest>
